.header,.footer,.banner{background-color:#393;color:#fff;width:100%;font-family:"microsoft yahei"}
.header{height:120px;line-height:120px}.header .logo{width:200px;*margin-top:30px}.header .logo a:hover{text-decoration:none}
.header .nav{display:inline-block;margin-top:52px;*margin-top:-48px}.header .nav li{position:relative;float:left;font-size:16px;margin-left:80px;display:inline-block}.header .nav li a{color:#fff}
.header .nav li a:hover{background:none;text-decoration:underline}
.header .nav li em{position:absolute;top:59px;right:22px;display:none;border-color:transparent transparent #fff;border-style:solid;border-width:0 9px 9px;font-size:0;line-height:0;width:0;height:0;_border-top-color:#fff;_border-bottom-color:#fff;_filter:chroma(color=#ffffff)}
.header .nav li .left8{left:8px}
.header .nav li.active em{display:block}
.footer{height:100px;line-height:100px;text-align:center;font-size:13px}
.banner{border-bottom:1px solid #ebebeb;background-color:#fff;position:relative}.banner img{width:1000px;height:200px;position:absolute}
.banner .container{position:relative;height:200px}
.banner .h320{height:320px}.banner .h320 img{height:320px}
.banner .rotate-btns{position:absolute;top:297px;left:390px;margin:0}.banner .rotate-btns li{width:40px;height:12px;background-color:#ebebeb;float:left;margin-right:5px;cursor:pointer}
.banner .rotate-btns li.active{background-color:#393}
.bg_EDEEE8{background-color:#edeee8}
.bg_F4A814{background-color:#f4a814}
.bg_E6E6E6{background-color:#e6e6e6}
.bg_grid{background:url(images/bg_grid.gif) repeat;padding-bottom:80px}
.mb50{margin-bottom:50px}
.mb112{margin-bottom:112px}
.mb20{margin-bottom:20px}
.mb5{margin-bottom:5px !important}
.mt16px{margin-top:16px}
.border-ccc{border:5px solid #ccc !important}
.pl23{padding-left:23px}
.h-auto-pb10{height:auto !important;padding-bottom:10px}
.w-auto{width:auto !important}
.bshare-sinaminiblog{background:url(/style/images/icon_sina.gif) no-repeat !important;width:58px !important;height:58px !important;margin:0 10px 0 0 !important;padding:0 !important}
.bshare-renren{background:url(/style/images/icon_ren.gif) no-repeat !important;width:58px !important;height:58px !important;margin:0 10px 0 0 !important;padding:0 !important}
.bshare-weixin{background:url(/style/images/icon_weixin.gif) no-repeat !important;width:58px !important;height:58px !important;margin:0 10px 0 0 !important;padding:0 !important}
.bshare-qqim{background:url(/style/images/icon_qq.gif) no-repeat !important;width:58px !important;height:58px !important;margin:0 !important;padding:0 !important}
.container{width:1000px;margin:0 auto}.container ul,.container li{list-style-type:none}
.container h1,.container h2,.container h3,.container h4{display:inline-block}
.main .subnav{width:200px;height:1024px;border:1px solid #ccc}.main .subnav h2{display:block;margin:0 auto;background:url(images/bg_subnav_title.jpg) repeat-x;width:200px;height:70px;line-height:70px;font-size:24px;font-family:"黑体";color:#fff;text-align:center}
.main .subnav .hr{height:1px;background-color:1px solid #808080;background:url(images/bg_subnaitem_spliter.jpg);margin:0;padding:0;border:0;display:block}
.main .subnav ul,.main .subnav li{margin:0;padding:0}
.main .subnav li{width:200px;height:47px;line-height:46px;font-size:12px;font-weight:bold}.main .subnav li a{color:#666;font-size:14px;margin-left:68px}
.main .subnav li.active{background-color:#e6e6e6}.main .subnav li.active a{color:#393}
.main .subnav li.active a:after{content:" >"}
.main .subnav .telphone{padding:30px 0 0 14px;font-size:16px;color:#359734}.main .subnav .telphone .numbers{font-size:26px;font-weight:bold;margin-top:15px}
.main .content{width:770px;margin-left:28px}.main .content .non-border{border:0 !important}
.main .content .more{background-color:#393;color:#fff}
.main .content .crumbs{height:33px;line-height:33px;text-align:right;border-top:1px solid #ccc;border-bottom:1px dotted #ccc}.main .content .crumbs span,.main .content .crumbs a{color:#666}
.main .content .list-block{width:710px;line-height:25px;margin:34px auto 0;font-family:"microsoft yahei";font-size:15px;border-bottom:1px dotted #ccc}.main .content .list-block .list-item{margin-bottom:12px;font-family:"microsoft yahei";font-size:16px}.main .content .list-block .list-item a{color:#666}
.main .content .list-block .list-item .date{font-family:"宋体";font-size:14px}
.main .content .list-block .w295px{width:295px}
.main .content .list-block .area-title{font-family:"microsoft yahei";font-size:29px;font-weight:normal;color:#393;margin:35px 0 30px}
.main .content .list-block .types-title{font-size:22px;font-weight:normal;color:#393}
.main .content .list-block .types-title-large{font-size:29px;font-weight:normal;color:#393}
.main .content .list-block-small-group{border-bottom:1px dotted #ccc;padding:28px 0}
.main .content .list-block-small{width:355px;float:left}
.main .content .type-title{color:#393;font-size:14px;font-weight:bold}.main .content .type-title em{display:inline-block;background-color:#393;background:url(images/icon_contact_title.gif);width:13px;height:13px;margin-right:6px;position:relative;top:2px;*top:-2px}
.main .content .type-title a{color:#393}
.main .content .detail-imglist{margin:26px 0 0}.main .content .detail-imglist li{float:left;height:116px;padding-left:16px;font-size:12px;text-align:center}
.main .content .detail-imglist img{display:inline-block;width:119px;height:56px;border:1px solid #969394}
.main .content .detail-imglist em{font-size:17px;font-style:normal;color:#f00;padding:0 5px}
.main .content .pager ul{margin:30px 0 85px}
.main .content .pager a{padding:5px 10px;border:0;color:#393}
.main .content .pager .active{text-decoration:underline}
.main .content .pager .btn-prev,.main .content .pager .btn-next{background:none;background-color:#393;color:#fff;padding:2px 6px;border-radius:0;box-shadow:none;text-shadow:none;font-size:12px}.main .content .pager .btn-prev a,.main .content .pager .btn-next a{color:#fff;background-color:transparent}
.main .content .pager .btn-disabled{background-color:#ccc}
.main .content .article{padding-left:28px}
.main .content .article-title{display:block;font-size:25px;text-align:center;color:#393;margin:35px 0 13px}
.main .content .article-title-small{color:#666;font-family:"microsoft yahei";font-size:14px;margin:0 0 4px}.main .content .article-title-small a{color:#666}
.main .content .list-item-large{margin:30px 0 35px}
.main .content .article-date{font-size:12px;text-align:center;color:#ccc}
.main .content .article-date-small{color:#999}
.main .content .article-img-small img{width:396px;height:132px}
.main .content .article-hr{margin:30px auto;width:600px}
.main .content .article-content-small{color:#999;font-family:"microsoft yahei";font-size:14px;height:94px;overflow:hidden;line-height:23px}
.main .guide{height:94px;color:#393;line-height:100px}.main .guide .font1{font-size:22px}
.main .guide .font2{font-size:43px;font-weight:bold}
.main .guide .font3{font-size:34px;font-weight:bold}
.main .contacts{width:280px;height:58px;margin-bottom:22px}
.main .tel{margin-bottom:30px}
.main .notice-block{height:194px}.main .notice-block h3{margin:0;margin-bottom:10px;padding:0}
.main .notice-block ul,.main .notice-block li{margin:0}
.main .notice-block .notice-block-item{height:28px;line-height:28px;font-family:"microsoft yahei";font-size:13px}.main .notice-block .notice-block-item a{color:#999}
.main .grid-group{width:710px}.main .grid-group .grid{float:left;margin-right:16px;margin-bottom:16px}
.main .qalist-group{border:1px solid #ccc;background-color:#fff;width:686px;height:158px;font-family:"microsoft yahei"}.main .qalist-group .qalist-group-bg{width:666px;margin:10px auto 0;background:url(images/bg_index_title.gif) no-repeat}
.main .qalist-group .qalistitem-title{padding-left:41px;color:#fff;height:36px;line-height:36px;overflow:hidden}.main .qalist-group .qalistitem-title a{color:#fff}
.main .qalist-group .qalist{width:215px;float:left}
.main .qalist-group .qalist-item{color:#999;height:33px;line-height:40px;padding-left:15px;font-size:13px;overflow:hidden}.main .qalist-group .qalist-item a{color:#999}
.main .qalist-group .qalist-item2{color:#999;padding-left:15px;font-size:13px}.main .qalist-group .qalist-item2 div{height:auto}
.main .qalist-group .ml25{margin-left:25px}
.main .icons-list,.main .icons-list-large{width:686px}.main .icons-list .icons-list-item,.main .icons-list-large .icons-list-item,.main .icons-list img,.main .icons-list-large img{width:88px;height:43px}
.main .icons-list .icons-list-item,.main .icons-list-large .icons-list-item{float:left;margin-right:10px;margin-bottom:10px}
.main .icons-list-large{width:710px;margin:35px 0 0 30px}.main .icons-list-large .icons-list-item{border:1px solid #ccc}
.main .imgblock-list{margin:35px 0 0}.main .imgblock-list .imgblock-list-item{float:left;width:145px;height:145px;border:5px solid #393;margin-left:22px;margin-bottom:50px;position:relative}.main .imgblock-list .imgblock-list-item img{display:block;width:145px;height:145px}
.main .imgblock-list .imgblock-list-item img.att{position:absolute;top:0}
.main .imgblock-list .imgblock-list-item div{padding:5px;text-align:center}.main .imgblock-list .imgblock-list-item div a{font-family:"microsoft yahei";font-size:12px;color:#393}
.main .imgblock-list .imgblock-list-item .img-title{color:#393}.main .imgblock-list .imgblock-list-item .img-title a{color:#989898}.main .imgblock-list .imgblock-list-item .img-title a em{background:url(/style/images/icon_btn_down.jpg) no-repeat;width:11px;height:12px;display:inline-block;margin-left:5px;vertical-align:middle}
.main .nav-adcate{margin:35px 0 30px 25px}.main .nav-adcate li{float:left;height:26px;line-height:26px}.main .nav-adcate li a{font-size:15px;color:#ccc;margin:5px 32px}
.main .nav-adcate li.active{background-color:#393;border-right:1px solid #393}.main .nav-adcate li.active a{color:#fff}
.main .nav-adcate .spliter em{width:1px;height:15px;border-right:1px solid #ccc}
.main .nav-adcate-detail{border-collapse:collapse;border:none;margin-bottom:11px;margin-left:25px}.main .nav-adcate-detail td{width:147px;height:135px;border:1px solid #ccc;text-align:center;font-size:12px;font-family:'microsoft yahei';color:#9c9c9c}.main .nav-adcate-detail td img{display:inline-block;width:146px;height:110px}
.main .nav-adcate-desc{height:33px;line-height:33px;margin-left:25px;color:#9c9c9c}
