.header, .footer, .banner {
	background-color: #339933;
	color: #FFF;
	width: 100%;
	font-family: "microsoft yahei";
}

.header {
	height: 120px;
	line-height: 120px;

	.logo {
		width: 200px;
		*margin-top: 30px;

		a:hover {
			text-decoration: none;
		}
	}

	.nav {
		display: inline-block;
		margin-top: 52px;
		*margin-top: -48px;

		li {
			position: relative;
			float: left;
			font-size: 16px;
			margin-left: 80px;
			display: inline-block;

			a {
				color: #FFF;
			}

			a:hover {
				background: none;
				text-decoration: underline;
			}

			em {
				position: absolute;
				top: 59px;
				right: 22px;
				display: none;
                border-color: transparent transparent #FFF;
                border-style: solid;
                border-width: 0px 9px 9px;
                font-size: 0;
                line-height: 0;    
                width: 0;
                height: 0;
                _border-top-color: white;
                _border-bottom-color: white;
                _filter: chroma( color =white);
			}

			.left8 {
				left: 8px;
			}
		}

		li.active em{
			display: block;
		}
	}
}

.footer {
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 13px;
}

.banner {
	border-bottom: 1px solid #EBEBEB;
	background-color: #FFF;

	img {
		width: 1000px;
		height: 200px;
	}

	.container {
		position: relative;
		height: 200px;
	}

	.h320 {
		height: 320px;

		img {
			height: 320px;
		}
	}

	.rotate-btns {
		position: absolute;
		top: 297px;
		left: 390px;
		margin: 0;

		li {
			width: 40px;
			height: 12px;
			background-color: #EBEBEB;
			float: left;
			margin-right: 5px;
			cursor: pointer;
		}

		li.active {
			background-color: #339933;
		}
	}
}

.bg_EDEEE8 {
	background-color: #EDEEE8;
}

.bg_F4A814 {
	background-color: #F4A814;
}

.bg_grid {
	background: url(images/bg_grid.gif) repeat;
	padding-bottom: 80px;
}

.mb50 {
	margin-bottom: 50px;
}

.mb112 {
	margin-bottom: 112px;
}

.container {
	width: 1000px;
	margin: 0 auto;

	ul, li {
		list-style-type: none;
	}

	h1, h2, h3, h4 {
		display: inline-block;
	}
}

.main {
	.subnav {
		width: 200px;
		height: 1024px;
		border: 1px solid #CCCCCC;

		h2 {
			display: block;
			margin: 0 auto;
			background: url(images/bg_subnav_title.jpg) repeat-x;
			width: 200px;
			height: 70px;
			line-height: 70px;
			font-size: 24px;
			font-family: "黑体";
			color: #FFF;
			text-align: center;
		}

		.hr {
			height: 1px;
			background-color: 1px solid gray;
			background: url(images/bg_subnaitem_spliter.jpg);
			margin: 0;
			padding: 0;
			border: 0;
			display: block;
		}

		ul, li {
			margin: 0;
			padding: 0;
		}

		li {
			width: 200px;
			height: 47px;
			line-height: 46px;
			font-size: 12px;
			font-weight: bold;

			a {
				color: #666;
				font-size: 14px;
				margin-left: 68px;
			}
		}

		li.active {
			background-color: #E6E6E6;

			a {
				color: #339933;
			}

			a:after {
				content: " <";
			}
		}

		.telphone {
			padding: 30px 0 0 14px;
			font-size: 16px;
			color: #359734;

			.numbers {
				font-size: 26px;
				font-weight: bold;
				margin-top: 15px;
			}
		}
	}

	.content {
		width: 770px;
		margin-left: 28px;

		.non-border {
			border: 0 !important;
		}

		.crumbs {
			height: 33px;
			line-height: 33px;
			text-align: right;
			border-top: 1px solid #CCC;
			border-bottom: 1px dotted #CCC;
			
			span, a {
				color: #666666;
			}
		}

		.list-block {
			width: 710px;
			line-height: 25px;
			margin: 34px auto 0;
			font-family: "microsoft yahei";
			font-size: 15px;
			border-bottom: 1px dotted #CCC;

			.list-item {
				margin-bottom: 12px;
				font-family: "microsoft yahei";
				font-size: 16px;

				a {
					color: #666666;
				}

				.date {
					font-family: "宋体";
					font-size: 14px;
				}
			}

			.w295px {
				width: 295px;
			}

			.area-title {
				font-family: "microsoft yahei";
				font-size: 29px;
				font-weight: normal;
				color: #339933;
				margin: 35px 0 30px;
			}

			.types-title {
				font-size: 22px;
				font-weight: normal;
				color: #339933;
			}
		}

		.list-block-small-group {
			border-bottom: 1px dotted #CCCCCC;
			padding: 28px 0;
		}

		.list-block-small {
			width: 355px;
			float: left;

			.pl23 {
				padding-left: 23px;
			}

			.type-title {
				color: #339933;
				font-size: 14px;
				font-weight: bold;

				em {
					display: inline-block;
					background-color: #339933;
					background: url(images/icon_contact_title.gif);
					width: 13px;
					height: 13px;
					margin-right: 6px;
					position: relative;
					top: 2px;
					*top: -2px;
				}
			}
		}

		.pager {
			ul {
				margin: 30px 0 85px;
			}

			a {
				padding: 5px 10px;
				border: 0;
				color: #339933;
			}

			.active {
				text-decoration: underline;
			}

			.btn-prev, .btn-next {
				background: none;
				background-color: #339933;
				color: #FFF;
				padding: 2px 6px;
				border-radius: 0;
				box-shadow: none;
				text-shadow: none;
				font-size: 12px;
			}

			.btn-disabled {
				background-color: #CCC;
			}
		}

		.article {
			padding-left: 28px;
		}

		.article-title {
			display: block;
			font-size: 25px;
			text-align: center;
			color: #339933;
			margin: 35px 0 13px;
		}

		.article-title-small {
			color: #666;
			font-family: "microsoft yahei";
			font-size: 14px;
			margin: 0 0 4px;
		}

		.list-item-large {
			margin: 30px 0 35px;
		}

		.article-date {
			font-size: 12px;
			text-align: center;
			color: #CCCCCC;
		}

		.article-date-small {
			color: #999;
		}

		.article-img-small {
			img {
				width: 396px;
				height: 132px;
			}
		}

		.article-hr {
			margin: 30px auto;
			width: 600px;
		}

		.article-content-small {
			color: #999;
			font-family: "microsoft yahei";
			font-size: 14px;
			height: 94px;
			overflow: hidden;
			line-height: 23px;

			.more {
				background-color: #339933;
				color: #FFF;
			}
		}
	}

	.guide {
		height: 94px;
		color: #339933;
		line-height: 100px;

		.font1 {
			font-size: 22px;
		}

		.font2 {
			font-size: 43px;
			font-weight: bold;
		}

		.font3 {
			font-size: 34px;
			font-weight: bold;
		}
	}

	.contacts {
		width: 280px;
		height: 58px;
		margin-bottom: 22px;
	}

	.tel {
		margin-bottom: 30px;
	}

	.notice-block {
		height: 194px;

		h3 {
			margin: 0;
			margin-bottom: 10px;
			padding: 0;
		}

		ul, li {
			margin: 0;
		}

		.notice-block-item {
			height: 28px;
			line-height: 28px;
			font-family: "microsoft yahei";
			font-size: 13px;

			a {
				color: #999;
			}
		}
	}

	.grid-group {
		width: 710px;

		.grid {
			float: left;
			margin-right: 16px;
			margin-bottom: 16px;
		}
	}

	.qalist-group {
		border: 1px solid #CCC;
		background-color: #FFF;
		width: 686px;
		height: 158px;
		font-family: "microsoft yahei";

		.qalist-group-bg {
			width: 666px;
			margin: 10px auto 0;
			background: url(images/bg_index_title.gif) no-repeat;
		}

		.qalistitem-title {
			padding-left: 41px;
			color: #FFF;
			height: 36px;
			line-height: 36px;
		}

		.qalist {
			width: 215px;
			float: left;
		}

		.qalist-item {
			color: #999;
			height: 33px;
			line-height: 40px;
			padding-left: 15px;
			font-size: 13px;

			a {
				color: #999;
			}
		}

		.ml25 {
			margin-left: 25px;
		}
	}

	.icons-list, .icons-list-large {
		width: 686px;

		.icons-list-item, img {
			width: 88px;
			height: 43px;
		}

		.icons-list-item {
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}

	.icons-list-large {
		width: 710px;
		margin: 35px 0 0 30px;

		.icons-list-item {
			border: 1px solid #CCC;
		}
	}

	.imgblock-list{
		margin: 35px 0 0;

		.imgblock-list-item {
			float: left;
			width: 145px;
			height: 145px;
			border: 5px solid #339933;
			margin-left: 30px;
			margin-bottom: 45px;

			img {
				display: block;
				width: 145px;
				height: 145px;
			}

			div {
				padding: 5px;
				text-align: center;

				a {
					font-family: "microsoft yahei";
					font-size: 12px;
					color: #393;
				}
			}
		}
	}

	.nav-adcate {
		margin: 35px 0 30px 25px;

		li {
			float: left;
			height:  26px;
			line-height: 26px;

			a {
				font-size: 15px;
				color: #CCC;
				margin: 5px 32px;
			}
		}

		li.active {
			background-color: #339933;
			border-right: 1px solid #339933;

			a {
				color: #FFF;
			}
		}

		.spliter {
			em {
				width: 1px;
				height: 15px;
				border-right: 1px solid #CCC;
			}
		}
	}

	.nav-adcate-detail {
		border-collapse: collapse;
		border: none;
		margin-bottom: 11px;
		margin-left: 25px;

		td {
			width: 147px;
			height: 135px;
			border: 1px solid #CCC;
			text-align: center;
			font-size: 12px;
			font-family: 'microsoft yahei';
			color: #9C9C9C;

			img {
				display: inline-block;
				width: 146px;
				height: 110px;
			}
		}
	}

	.nav-adcate-desc {
		height: 33px;
		line-height: 33px;
		margin-left: 25px;
		color: #9C9C9C;
	}
}
